@model PostViewModel


<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="heading-page header-text">
    <section class="page-heading" style="padding-top:50px;padding-bottom:50px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h4>@($"{Model.Post.Author.Name} {@Model.Post.Author.Surname}")</h4>
                        <h2>@Model.Post.Author.Description</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Banner Ends Here -->

<section class="blog-posts grid-system" style="margin-top: 25px">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="all-blog-posts">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-post">
                                <div class="blog-thumb">
                                    <img src="/assets/images/blog-post-02.jpg" alt="">
                                </div>
                                <div class="down-content">
                                    <a href="post-details.html">
                                        <span>@Model.Post.Title</span>
                                    </a>
                                    <ul class="post-info">
                                        <li><a href="#">@($"{@Model.Post.Author.Name} {@Model.Post.Author.Surname}")</a></li>
                                        <li><a href="#">@Model.Post.PublishedOn.ToString("MMM dd, yyyy")</a></li>
                                        <li><a href="#">@($"{Model.Post.ReadCount} Views")</a></li>
                                    </ul>
                                    <p>
                                        @Model.Post.Content                                        
                                    </p>
                                    <div class="post-options">
                                        <div class="row">
                                            <div class="col-6">
                                                <ul class="post-tags">
                                                    <li><i class="fa fa-tags"></i></li>
                                                    @foreach (var tag in Model.Post.Tags)
                                                    {
                                                        <li><a href="@Url.Action("GetPostsByTag", "Home" , new { name = tag.Name })">@tag.Name</a>,</li>
                                                    }
                                                </ul>
                                            </div>
                                            <div class="col-6">
                                                <ul class="post-share">
                                                    <li><i class="fa fa-share-alt"></i></li>
                                                    <li><a href="#">Facebook</a>,</li>
                                                    <li><a href="#"> Twitter</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sidebar-item search">
                                <form id="search_form" name="gs" method="GET" action="#">
                                    <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="sidebar-item recent-posts">
                                <div class="sidebar-heading">
                                    <h2>Recent Posts</h2>
                                </div>
                                <div class="content" id="recent-posts-component">
                                    @(await Component.InvokeAsync("RecentPosts"))
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            @(await Component.InvokeAsync("TagCloud"))
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

