@using GeekSpot.Domain.Entities
@model IEnumerable<Post>

<div class="main-banner header-text">
    <div class="container-fluid">
        <div class="owl-banner owl-carousel" >
        </div>
    </div>
</div>
<section class="blog-posts grid-system" style="margin-top:60px">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="all-blog-posts">
                    <div class="row">
                        <p>
                            <input type="button"
                                   value="Write New Post" class="btn btn-primary"
                                   onclick="location.href='@Url.Action("CreatePost", "Blog" )'" />
                        </p>
                        <br/>
                        <br />
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.Title)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.Published)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.CreatedOn)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.PublishedOn)</th>
                                    <th scope="col">Views</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int rowNo = 1;
                                }
                                @foreach(var post in Model){
                                    <tr>
                                        <th scope="row">@(rowNo++)</th>
                                        <td>@Html.DisplayFor(item => post.Title)</td>
                                        <td>@Html.DisplayFor(item => post.Published)</td>
                                        <td>@post.CreatedOn?.ToString("MMM dd, yyyy")</td>
                                        <td>@post.PublishedOn?.ToString("MMM dd, yyyy")</td>
                                        <td>@Html.DisplayFor(item => post.ReadCount)</td>
                                        <td>
                                            @Html.ActionLink("Edit", "EditPost", "Blog", new { id = post.Id }) |

                                            @if (!post.Published)
                                            {
                                                @Html.ActionLink("View", "UnpublishedPostDetails","Blog", new {  id = post.Id }) 
                                            }else{
                                                @Html.ActionLink("View", "PostDetails","Blog", new {  id = post.Id }) 
                                            }
                                            |
                                            @if (!post.Published)
                                            {
                                                @Html.ActionLink("Publish", "PublishPost", "Blog", new { id = post.Id },new {@style="color:green" })
                                            }
                                        </td>
                                    </tr>
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>