@using GeekSpot.Domain.Entities
@model IEnumerable<Post>

<div class="main-banner header-text">
    <div class="container-fluid">
        <div class="owl-banner owl-carousel" >
        </div>
    </div>
</div>
<section class="blog-posts grid-system" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="all-blog-posts">
                    <div class="row">
                        @*@ViewBag.Name*@
                        <p>
                            @Html.ActionLink("Write", "Create", "Blog")
                        </p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.Title)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.Published)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.CreatedOn)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.PublishedOn)</th>
                                    <th scope="col">@Html.DisplayNameFor(model => model.ReadCount)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int rowNo = 0;
                                }
                                @foreach(var post in Model){
                                    <tr>
                                        <th scope="row">@(rowNo++)</th>
                                        <td>@Html.DisplayFor(item => post.Title)</td>
                                        <td>@Html.DisplayFor(item => post.Published)</td>
                                        <td>@post.CreatedOn.ToString("MMM dd, yyyy")</td>
                                        <td>@post.PublishedOn.ToString("MMM dd, yyyy")</td>
                                        <td>@Html.DisplayFor(item => post.ReadCount)</td>
                                        <td>
                                            @Html.ActionLink("Edit", "EditPost", "Blog", new { id = post.Id }) |
                                            @Html.ActionLink("View", "PostDetails","Blog", new {  id = post.Id }) |
                                            @Html.ActionLink("Delete", "DeletePost", "Blog", new { id = post.Id })
                                        </td>
                                    </tr>
                                }
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>